[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djoser = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djongo = "*"
django-phonenumber-field = "*"
django = "*"
phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.10"
